.opinionsContainer {
    padding: 1.5rem;
    max-width: 1300px;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinionsContainer h2 {
    margin-bottom: 1rem;
}

.opinionsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.leftColumn {
    width: 100%;
}

@media (min-width: 1100px) {
    .opinionsSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .opinionsContainer h2 {
        margin-bottom: 2rem;
    }

    .leftColumn {
        display: flex;
        flex-direction: column;
        grid-column: 1;
        align-self: flex-start;
    }

    .opinionsSection > :nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
}
