.input {
    padding: 0.8rem 1rem;
    margin: 1.4rem 0 0.5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--lighter-grey);
    font-size: 0.85rem;
}

.input.error {
    border: 1px solid var(--danger-color);
}

@media (768px < width) {
    .input {
        padding: 1rem 1.2rem;
        margin: 1.4rem 0 0.4rem;
        font-size: 0.9rem;
    }
}
