.loginForm {
    margin: 2rem 0;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
}

.loginForm h1 {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
}

@media (768px < width) {
    .loginForm h1 {
        font-size: 2rem;
        margin-bottom: 0.6rem;
    }
}
