.recommendedSection {
    margin: 3rem auto;
    max-width: 1440px;
    width: 90%;
    background-color: var(--pure-white);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
