.recommendedSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendedSection h2 {
    font-size: 1.6rem;
}

@media (768px < width) {
    .recommendedSection h2 {
        font-size: 1.8rem;
    }
}
