.imageGallery {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.mainImage {
    width: 100%;
}

.mainImageContent {
    width: 400px;
    height: auto;
}

@media (768px < width) {
    .imageGallery {
        display: flex;
    }
}

@media (1200px < width) {
    .mainImageContent {
        width: 500px;
        height: auto;
    }
}
