.productSpecificationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: 0 auto 2rem;
    max-width: 1300px;
}

.productSpecificationSection h2 {
    margin-bottom: 3rem;
}

.productSpecificationTable {
    width: 100%;
    border-collapse: collapse;
}

.productSpecificationTable tr:nth-child(even) {
    background-color: var(--dirty-white);
}

.productSpecificationTable tr:nth-child(odd) {
    background-color: var(--pure-white);
}
