.productSpecificationItem {
    border: 1px solid var(--lighter-grey);
}

.productSpecificationItem td {
    padding: 1rem;
}

.productSpecificationItem td:first-child {
    width: 50%;
    font-weight: bold;
}

.productSpecificationItem td:last-child {
    width: 50%;
}

.productSpecificationItem td div {
    line-height: 1.4rem;
}

@media (768px < width) {
    .productSpecificationItem td {
        padding: 1rem 2rem;
    }
}
