.heroImageSection {
    position: relative;
    height: 80vh;
}

.heroImagePhoto {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heroImagePhoto.main {
    background-image: url('../../../public/photos/encouragesectionbig.jpg');
}

.heroImagePhoto.encourage {
    background-image: url('../../../public/photos/encouragesectionsmall.jpg');
}

.heroImageShadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.heroImageText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    color: var(--pure-white);
}

.heroImageText h1 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
}

.heroImageText h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.heroImageText p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

@media (768px < width) {
    .heroImageSection {
        height: 70vh;
    }

    .heroImagePhoto.main {
        background-image: url('../../../public/photos/heroimagebig.jpg');
    }

    .heroImagePhoto.encourage {
        background-image: url('../../../public/photos/encouragesectionbig.jpg');
    }

    .heroImageText h1 {
        font-size: 3rem;
    }

    .heroImageText h2 {
        font-size: 2.4rem;
    }

    .heroImageText p {
        font-size: 1.5rem;
    }
}

@media (1200px < width) {
    .heroImageText {
        left: 60%;
    }
}
