.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0;
    max-width: 300px;
    text-align: center;
    transition: border 0.5s;
    border-radius: 10px;
}

.item img {
    width: 100%;
    height: 100%;
}

.item p {
    margin: 0.4rem 0 0.6rem;
    font-size: 0.9rem;
    color: var(--dark-grey);
}

.item h3 {
    margin-bottom: 0.6rem;
    font-size: 1.3rem;
}

.promotionPrice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beforePromotionPrice {
    margin-right: 1rem;
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--dark-grey);
}

.currentPrice {
    font-size: 1.4rem;
    color: var(--danger-color);
}

.promotionTime {
    margin-top: 1rem;
}

.promotionTime p {
    margin-bottom: 1rem;
    font-size: 1rem;
}
