.highlightSection {
    margin: 3rem 2rem;
}

.highlightSectionPromotion {
    margin-bottom: 3rem;
}

.highlightSectionPromotion h2 {
    text-align: center;
}

.highlightSectionPromotionBox,
.highlightSectionLatest {
    position: relative;
    margin: 2rem auto;
    padding: 2rem;
    width: 100%;
    max-height: 620px;
    background-color: var(--pure-white);
    border-radius: 10px;
    overflow: hidden;
}

.highlightSectionPromotionBox {
    max-width: 380px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    border-right: 3px solid var(--main-color);
    transition: scale 0.4s;
}

.highlightSectionPromotionBox:hover {
    scale: 1.03;
}

.highlightSectionLatest {
    padding: 0;
    margin: 0;
}

.highlightSectionPromotionText {
    position: absolute;
    top: 20px;
    left: -60px;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 8%;
    font-size: 1.2rem;
    background-color: var(--danger-color);
    color: var(--pure-white);
}

@media (768px < width) {
    .highlightSection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 3rem auto;
        padding: 0 2rem;
        max-width: 1440px;
    }

    .highlightSectionPromotion {
        grid-column: 1 / 2;
        width: 100%;
        background-color: var(--pure-white);
        border-radius: 10px;
    }

    .highlightSectionPromotion:nth-child(2) {
        grid-column: 2 / 4;
        max-height: 620px;
        overflow: hidden;
    }

    .highlightSectionLatest {
        margin-top: 1.6rem;
    }
}
