*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--dirty-white);
}

input,
label,
button {
    font: inherit;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --light-grey: rgb(140, 140, 140);
    --lighter-grey: rgb(211, 211, 211);
    --dark-grey: rgb(66, 66, 66);
    --darker-grey: rgb(33, 33, 33);
    --pure-white: rgb(255, 255, 255);
    --dirty-white: rgb(233, 233, 233);
    --pure-black: rgb(0, 0, 0);
    --main-color: rgb(25, 144, 255);
    --main-color-darker: rgb(5, 115, 218);
    --danger-color: rgb(238, 36, 22);
}

.slick-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
}
