.starsContainer {
    display: flex;
    gap: 0;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: lightgray;
    transition: transform 0.2s;
    transform-origin: center;
}

.star:hover {
    transform: scale(1.2);
}

.filled {
    color: gold;
}
