.productSection {
    margin: auto;
    padding: 0 1.5rem 2rem;
    max-width: 1440px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (768px < width) {
    .productSection {
        margin: 3rem auto 1rem;
    }

    .container {
        margin-top: 4rem;
    }
}
