.carousel {
    width: 90vw;
    max-width: 500px;
    height: auto;
    padding: 1rem 1rem 0;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (768px < width) {
    .carousel {
        display: none !important;
    }
}
