.topbarItem {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.topbarItem img {
    margin-right: 0.4rem;
    filter: brightness(0) invert(1);
    scale: 0.9;
}

.topbarItem p {
    font-size: 0.9rem;
    color: var(--pure-white);
}
