.descriptionBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.descriptionText p {
    margin-bottom: 0.5rem;
    line-height: 1.4rem;
}

@media (768px < width) {
    .descriptionBox {
        flex-direction: column;
        gap: 30px;
        grid-column: 1 / 3;
    }

    .descriptionText p {
        margin-bottom: 1rem;
    }
}

@media (1300px < width) {
    .descriptionBox {
        align-self: flex-start;
        grid-column: 2 / 3;
    }
}
