.orderItemInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 3rem;
    width: 100%;
}

.orderItemInfoText {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.orderItemInfoText img {
    margin-right: 0.8rem;
    width: 80px;
    height: 80px;
}

.orderItemInfoCount {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0.6rem 2rem;
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
    background-color: var(--pure-white);
}

.orderItemInfoCount button {
    font-size: 2rem;
    background-color: var(--pure-white);
    border-radius: 10px;
    padding: 0.3rem 0.6rem;
    transition: background-color 0.3s;
}

.orderItemInfoCount button:hover {
    background-color: var(--dirty-white);
}

.orderItemInfoCount input {
    padding: 0.5rem;
    margin: 0 1rem;
    max-width: 60px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--dirty-white);
    border: 1px solid var(--lighter-grey);
}

@media (768px < width) {
    .orderItemInfo {
        justify-content: space-between;
    }

    .orderItemInfoText img {
        margin-right: 1rem;
        width: 90px;
        height: 90px;
    }

    .orderItemInfoText h3 {
        font-size: 1.3rem;
    }
}

@media (1100px < width) {
    .orderItemInfo {
        flex-wrap: nowrap;
        max-width: 530px;
    }
}
