.statisticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.progressBarsBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 500px;
}

@media (768px < width) {
    .statisticsContainer {
        flex-direction: row;
        gap: 3rem;
    }
}
