.headerItem {
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s background-color;
}

.headerItem:hover {
    background-color: var(--dirty-white);
}

.headerItem img {
    pointer-events: none;
}

.headerItem p {
    display: none;
    font-weight: 700;
    color: var(--pure-black);
    pointer-events: none;
}

@media (768px < width) {
    .headerItem {
        padding: 0.6rem 1.2rem;
    }

    .headerItem img {
        width: 26px;
        height: 26px;
    }
}

@media (992px < width) {
    .headerItem {
        margin-left: 1rem;
    }

    .headerItem img {
        margin-right: 0.8rem;
    }

    .headerItem p {
        display: block;
    }
}
