.profileContainer {
    position: relative;
}

.headerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    transition: 0.4s background-color;
    cursor: pointer;
    background-color: var(--pure-white);
}

.headerItem:hover {
    background-color: var(--dirty-white);
}

.headerItem img {
    pointer-events: none;
}

.headerItem p {
    display: none;
    font-weight: 700;
    color: var(--pure-black);
    pointer-events: none;
}

.headerItem p span {
    font-size: 0.9rem;
    display: inline-block;
    transition: transform 0.3s;
}

.rotate {
    display: inline-block;
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform 0.3s;
}

@media (768px < width) {
    .headerItem img {
        width: 26px;
        height: 26px;
    }
}

@media (1100px < width) {
    .headerItem {
        margin-left: 1rem;
        padding: 0.6rem;
        min-width: 115px;
    }

    .headerItem img {
        margin-right: 0.8rem;
    }

    .headerItem p {
        display: block;
    }
}
