.consentItem {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.consentItem label {
    font-size: 0.9rem;
    color: var(--pure-black);
    transition: color 0.2s;
    cursor: pointer;
}

.consentItem.error label {
    color: var(--danger-color);
    pointer-events: auto;
}

.consentItem input {
    width: 18px;
    height: 18px;
    margin: 0;
    margin-right: 1rem;
    pointer-events: auto;
}

.consentItem:first-child label {
    font-weight: bold;
}

.consentItem:hover {
    background-color: var(--dirty-white);
}
