.paymentSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.paymentText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paymentText b {
    font-size: 1.1rem;
}

.paymentText span {
    font-size: 1rem;
    color: var(--medium-grey);
}

.paymentInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1rem;
}

.paymentInfo img {
    width: 40px;
    height: 40px;
}

@media (768px < width) {
    .paymentText {
        gap: 10px;
        font-size: 1.2rem;
    }

    .paymentInfo {
        gap: 15px;
    }
}
