.summaryAddressBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summaryAddressBox b {
    margin: 1.4rem 0 0.2rem;
    font-size: 1.1rem;
}

.summaryAddressBox i {
    font-size: 0.9rem;
}

.summaryAddressCity {
    display: flex;
    align-items: center;
    gap: 8px;
}
