.section {
    padding: 2rem 1rem;
    background-color: var(--light-white);
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
    width: 100%;
    max-width: 660px;
}

.sectionComment {
    display: flex;
    flex-direction: column;
}

@media (768px < width) {
    .section {
        padding: 2rem;
    }
}
