.productHeading {
    width: 100%;
}

.productHeading h1 {
    font-size: 1.8rem;
    margin: 0.6rem 0 1rem;
}

.productContainer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.productOpinions {
    display: flex;
    align-items: flex-end;
}

.productOpinions img {
    margin-right: 0.8rem;
}

@media (768px < width) {
    .productHeading h1 {
        font-size: 1.9rem;
        margin: 0 0 1rem;
    }
}

@media (1200px < width) {
    .productHeading h1 {
        font-size: 2rem;
    }

    .productContainer {
        gap: 50px;
    }

    .productOpinions img {
        margin-top: 0.4rem;
        margin-right: 1.2rem;
    }
}
