.carousel {
    display: none !important;
}

@media (768px < width) {
    .carousel {
        display: flex !important;
        align-items: center;
        justify-content: space-evenly;
        align-self: center;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
    }
    .carousel div {
        max-height: 90px;
    }
}
