.carousel {
    width: 90vw;
    max-width: 500px;
    min-height: 100px;
    height: auto;
    padding: 1rem 1rem 0;
    border-radius: 10px;
    margin: 0 auto;
}

@media (768px < width) {
    .carousel {
        display: none !important;
    }
}
