.confirmationSection {
    padding: 1rem 2rem;
    margin: 3rem 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationContainer {
    border-radius: 10px;
    max-width: 660px;
    gap: 30px;
    border: 1px solid var(--lighter-grey);
    background-color: var(--light-white);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmationLink {
    color: var(--main-color);
    font-weight: bold;
}

.confirmationLink:hover {
    text-decoration: underline;
}

@media (768px < width) {
    .confirmationSection {
        margin: 6rem 0;
    }
}
