.newsletterSection {
    padding: 4rem 2.5rem;
    background-color: var(--pure-black);
    color: var(--pure-white);
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.textBox {
    margin-bottom: 2rem;
}

.textBox h2 {
    margin-bottom: 0.8rem;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox div {
    width: 100%;
    max-width: 400px;
}

.inputBox div input {
    padding: 0.9rem 1.4rem;
}

@media (768px < width) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
    }

    .textBox {
        margin-bottom: 0;
    }

    .textBox h2 {
        margin-bottom: 1rem;
    }

    .inputBox {
        min-width: 400px;
    }
}
