.offerSection {
    margin: 3rem 2rem;
}

.offerSectionBox {
    position: relative;
    margin: 4rem auto;
    padding: 2rem;
    background-color: var(--pure-white);
    border-radius: 10px;
    width: 100%;
    max-height: 620px;
    overflow: hidden;
}

.offerSectionBox:nth-child(1) {
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    border-right: 3px solid var(--main-color);
    transition: scale 0.4s;
    max-width: 380px;
}

.offerSectionBox:nth-child(1):hover {
    scale: 1.03;
}

.offerSectionPromotion {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.7rem 1.5rem;
    background-color: var(--danger-color);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--pure-white);
    font-size: 1.2rem;
}

.offerSectionBox h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

@media (768px < width) {
    .offerSection {
        margin: 2rem auto;
        padding: 0 2rem;
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .offerSectionBox {
        margin: 2rem auto;
        grid-column: 1 / 2;
        padding: 2rem;
        background-color: var(--pure-white);
        border-radius: 10px;
        width: 100%;
    }

    .offerSectionBox:nth-child(2) {
        grid-column: 2 / 3;
    }

    .offerSectionBox h2 {
        font-size: 1.8rem;
    }
}

@media (1200px < width) {
    .offerSection {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .offerSectionBox {
        grid-column: 1 / 2;
    }

    .offerSectionBox:nth-child(2) {
        grid-column: 2 / 4;
    }
}

@media (1600px < width) {
    .offerSection {
        padding: 0;
    }
}
