.offerSectionHero {
    position: relative;
    max-height: 400px;
}

.offerSectionHero img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.offerSectionShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.offerSectionText {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: var(--pure-white);
}

.offerSectionLink {
    position: absolute;
    top: 70%;
    left: 50%;
    display: block;
    padding: 1rem 2rem;
    width: 200px;
    font-size: 1.1rem;
    transform: translate(-50%, -50%);
    color: var(--pure-white);
    text-align: center;
    background-color: var(--main-color);
    color: var(--pure-white);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.offerSectionLink::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -130px;
    display: block;
    height: 180%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    transform: rotate(20deg);
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;
}

.offerSectionLink:hover::before {
    left: 130%;
    opacity: 1;
}

@media (768px < width) {
    .offerSectionText {
        font-size: 3rem;
    }

    .offerSectionLink {
        font-size: 1.2rem;
    }
}
