.offerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--pure-white);
}

.offerSectionBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offerSectionBox:nth-child(1) {
    margin-top: 0;
}

@media (768px < width) {
    .offerSectionBox div:nth-child(2) {
        display: block;
    }
}

@media (1200px < width) {
    .offerSectionBox {
        display: block;
    }
}
