.container {
    display: none;
    text-align: left;
}

.container p {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
}

.linkBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.linkBox a {
    font-size: 1rem;
}

.linkBox a:hover {
    text-decoration: underline;
}

@media (768px < width) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
