.summaryItemBox {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem 0;
    width: 100%;
    border-bottom: 1px solid var(--lighter-grey);
}

.summaryItemBox img {
    width: 70px;
    height: 70px;
}

.summaryItemText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-weight: bold;
}

.summaryItemText h4 {
    font-size: 1.1rem;
}

.summaryItemText b {
    align-self: flex-end;
    font-size: 1.2rem;
}

.summaryItemText p {
    color: var(--medium-grey);
}
