.priceContainer {
    margin: 2rem 0 0;
}

.priceBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 0.6rem;
}

.priceBox span {
    font-size: 1.1rem;
}

.priceBox b {
    font-size: 1.2rem;
}

.totalPrice {
    border-top: 1px solid var(--lighter-grey);
    padding-top: 1rem;
}

.nextButton {
    display: block;
    margin: 1.6rem auto;
    position: relative;
    padding: 0.8rem 1.6rem;
    width: 80%;
    text-align: center;
    max-width: 250px;
    font-size: 1.1rem;
    color: var(--pure-white);
    background-color: var(--main-color);
    color: var(--pure-white);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.nextButton::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -130px;
    display: block;
    height: 180%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    transform: rotate(20deg);
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;
}

.nextButton:hover::before {
    left: 130%;
    opacity: 1;
}

.nextButton:disabled {
    background-color: var(--lighter-grey);
    pointer-events: none;
}

.nextButton:disabled:hover::before {
    left: -130px;
    opacity: 0;
}

.priceBoxInfo {
    text-align: center;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
}
