.heroImageSection {
    position: relative;
    height: 80vh;
}

.heroImagePhoto {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.heroImagePhoto.main {
    background-image: url('../../../assets/photos/heroImageSmall.jpg');
}

.heroImagePhoto.encourage {
    background-image: url('../../../assets/photos/encourageSectionSmall.jpg');
}

.heroImageShadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.heroImageText {
    position: absolute;
    top: 25%;
    left: 8%;
    padding: 1rem;
    color: var(--pure-white);
}

.heroImageText h1 {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
}

.heroImageText h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.heroImageText p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.heroImageLink {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    width: 200px;
    font-size: 1.2rem;
    background-color: var(--main-color);
    color: var(--pure-white);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.heroImageLink::before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: -130px;
    height: 180%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    transform: rotate(20deg);
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;
}

.heroImageLink:hover::before {
    left: 130%;
    opacity: 1;
}

@media (768px < width) {
    .heroImageSection {
        height: 70vh;
    }

    .heroImagePhoto.main {
        background-image: url('../../../assets/photos/heroImageBig.jpg');
    }

    .heroImagePhoto.encourage {
        background-image: url('../../../assets/photos/encourageSectionBig.jpg');
    }

    .heroImageText {
        top: 30%;
        left: 12%;
    }

    .heroImageText h1 {
        font-size: 3rem;
        margin-bottom: 0.8rem;
    }

    .heroImageText h2 {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
    }

    .heroImageText p {
        font-size: 1.5rem;
    }
}

@media (1200px < width) {
    .heroImageText {
        top: 35%;
        left: 15%;
    }
}
