.heroImageSection {
    position: relative;
    height: 80vh;
}

.heroImagePhoto {
    background-image: url('../../../assets/photos/heroImageSmall.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.heroImageShadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.heroImageText {
    position: absolute;
    top: 25%;
    left: 10%;
    padding: 1rem;
    color: var(--pure-white);
}

.heroImageText h1 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.heroImageText p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

@media (768px < width) {
    .heroImageSection {
        height: 60vh;
    }

    .heroImagePhoto {
        background-image: url('../../../assets/photos/heroImageBig.jpg');
    }

    .heroImageText {
        left: 20%;
    }

    .heroImageText h1 {
        font-size: 3rem;
        margin-bottom: 0.7rem;
    }

    .heroImageText p {
        font-size: 1.5rem;
    }
}
