.searchBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox input {
    padding: 0.5rem 0.8rem;
    height: 45px;
    width: 350px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.searchBox button {
    position: absolute;
    top: 5;
    right: 0;
    padding: 0.4rem 0.8rem;
    height: 45px;
    background-color: var(--main-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchBox button:hover {
    background-color: var(--main-color-hover);
}

.searchBox button img {
    scale: 0.95;
    pointer-events: none;
}
