.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 2rem 1rem;
    text-align: center;
    width: 100%;
    background-color: var(--main-color);
    color: var(--pure-white);
}

.title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.contactLink {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.contactLink:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyright {
    margin-top: 3rem;
    font-size: 1rem;
}

.copyright p {
    margin-bottom: 0.2rem;
}

.container img {
    filter: brightness(0) invert(1);
}

@media (768px < width) {
    .title {
        margin-bottom: 0.6rem;
    }

    .contactLink {
        margin-bottom: 0.6rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        max-width: 900px;
    }
}
