.buyMenuSection {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 2rem;
    width: 100%;
    max-width: 550px;
    border: 2px solid var(--lighter-grey);
    border-radius: 10px;
    background-color: var(--light-white);
}

.priceBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 0.6rem;
}

.priceBox span {
    font-size: 1.1rem;
}

.priceBox b {
    font-size: 1.2rem;
}

.totalPrice {
    padding-top: 1rem;
    border-top: 1px solid var(--lighter-grey);
}

.priceBoxInfo {
    text-align: center;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
}

.buyMenuSection a {
    align-self: center;
    margin: 1.6rem 0;
}

@media (768px < width) {
    .buyMenuSection {
        max-width: 700px;
    }
}

@media (1200px < width) {
    .buyMenuSection {
        margin-bottom: 0;
        align-self: flex-end;
    }
}
