.orderContainer {
    margin: 1.5rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 1440px;
}

.orderContainer h1 {
    text-align: center;
    font-size: 2rem;
}

.orderContainer h2 {
    margin-top: 0.6rem;
    text-align: center;
}

.singleOrderMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 2rem 1rem;
    width: 100%;
}

.orderData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.notSet {
    color: var(--danger-color);
}

.set {
    color: rgb(4, 145, 23);
}

.confirmed {
    color: rgb(209, 122, 6);
}

.productBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.payForOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 660px;
    background-color: var(--light-white);
    border-radius: 10px;
    border: 2px solid var(--dirtier-white);
}

@media (1100px < width) {
    .orderData {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .singleOrderMain {
        flex-direction: row;
        align-items: center;
        margin-bottom: 3rem;
    }
}
@media (768px < width) {
    .orderContainer {
        margin: 3rem auto;
    }
}
