.contactForm {
    padding: 0rem 2rem 2rem;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.contactForm h3 {
    margin-top: 1rem;
    color: var(--light-grey);
    font-weight: 500;
}

@media (1100px < width) {
    .contactForm {
        max-width: 550px;
    }
}
