.brandsSection {
    padding: 3rem;
    background-color: var(--pure-white);
}

.brandsSection h2 {
    text-align: center;
}

.brandsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 1.6rem auto;
    width: 100%;
    max-width: 1200px;
}

@media (900px < width) {
    .brandsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (1540px < width) {
    .brandsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
    }
}
