.logoutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: calc(100vh - 230px);
}

.logoutCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    max-width: 400px;
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
}

.logoutCard a {
    align-self: center;
}

@media (768px < width) {
    .logoutSection {
        height: calc(100vh - 190px);
    }

    .logoutCard {
        padding: 2rem;
        gap: 30px;
        max-width: 550px;
    }
}
