.benefitsMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
    width: 100%;
}

.benefitsMenuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    font-size: 1.05rem;
    border-bottom: 1px solid var(--lighter-grey);
    padding-bottom: 0.6rem;
}

.benefitsMenuItem:last-child {
    border-bottom: none;
}

.benefitsMenuItem img {
    width: 30px;
    height: 30px;
}

.benefitsMenuItem span {
    color: var(--main-color);
    font-weight: bold;
}
