.order {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 1400px;
}

.errorText {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

@media (1200px < width) {
    .order {
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 1rem;
    }
}
