.order {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
}

@media (1200px < width) {
    .order {
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        margin-bottom: 1rem;
    }
}
