.categoryHeadSection {
    margin: 1rem auto;
    padding: 0 1rem;
    width: 100%;
    max-width: 1420px;
}

.categoryHeadText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.categoryHeadText h1 {
    font-size: 2rem;
}

.categoryHeadText span {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--dark-grey);
}

@media (768px < width) {
    .categoryHeadSection {
        margin: 3rem auto;
    }

    .categoryHeadText {
        flex-direction: row;
    }

    .categoryHeadText h1 {
        margin-bottom: 0;
        margin-right: 1rem;
        font-size: 2.4rem;
    }
}
