.topbar {
    display: none;
    padding: 0.7rem;
    background-color: var(--main-color);
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.topbarItem {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.topbarItem img {
    margin-right: 0.5rem;
    filter: brightness(0) invert(1);
}

.topbarItem p {
    font-size: 0.9rem;
    color: var(--pure-white);
}

@media (768px < width) {
    .topbar {
        display: block;
    }
}

@media (992px < width) {
    .topbarItem img {
        scale: 0.9;
    }

    .topbarItem p {
        font-size: 1rem;
    }
}
