.productsSection {
    width: 100%;
    padding: 1rem 1.5rem 3rem;
    background-color: var(--pure-white);
    border-radius: 10px;
}

.productsList {
    width: 100%;
}

.noProducts {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.productsSectionPagination {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

@media (768px < width) {
    .productsSection {
        padding-top: 0;
        margin-right: 1rem;
    }

    .noProducts {
        margin-top: 18rem;
    }
}

@media (1200px < width) {
    .noProducts {
        margin-top: 20rem;
    }
}
