.listItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 3rem auto 0;
    max-width: 500px;
    width: 100%;
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
    position: relative;
}

.recommended {
    border: 2px solid var(--main-color);
}

.recommendedText {
    position: absolute;
    top: -16px;
    left: 5%;
    padding: 0.4rem 0.8rem;
    color: var(--pure-white);
    background-color: var(--main-color);
    border-radius: 8px;
}

.listMainDataBox {
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.listMainDataBox h2 {
    margin-bottom: 2rem;
    align-self: flex-start;
}

.listMainDataBox img {
    width: 100%;
    height: auto;
}

.listSaleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listSaleBoxBtn {
    position: relative;
    padding: 2.5rem;
    margin-bottom: 2rem;
    width: 100%;
}

@media (1100px < width) {
    .listItem {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        align-items: start;
        gap: 30px;
        margin: 3rem 0;
        width: 100%;
        max-width: 1200px;
    }

    .recommendedText {
        padding: 0.5rem 0.9rem;
        left: 8%;
    }

    .listMainDataBox {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 1rem;
    }

    .listSaleBox {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .listSaleBoxBtn {
        margin-bottom: 0;
    }
}

@media (1400px < width) {
    .listItem {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .listMainDataBox {
        grid-column: 1 / 2;
    }

    .listSaleBox {
        grid-column: 3 / 4;
    }
}
