.item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 240px;
    text-align: center;
    transition: border 0.5s;
    border-radius: 10px;
    border: 2px solid transparent;
}

.small {
    max-width: 200px;
}

.big {
    max-width: 280px;
}

.item:hover {
    border: 2px solid var(--lighter-grey);
}

.item img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.4rem;
}

.item p {
    margin: 0.4rem 0 0.6rem;
    font-size: 0.9rem;
    color: var(--dark-grey);
}

.item h3 {
    margin-bottom: 0.6rem;
    font-size: 1.3rem;
}

.item span {
    font-size: 1.2rem;
    color: var(--dark-grey);
}

@media (width < 768px) {
    .item {
        height: 290px;
    }
}
