.registerForm {
    margin: 2rem 0;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
}

.registerForm h1 {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
}

@media (768px < width) {
    .registerForm h1 {
        font-size: 2rem;
        margin-bottom: 0.6rem;
    }

    .registerFormButton {
        margin: 1.8rem auto 0;
        padding: 0.8rem 1.5rem;
        width: 100%;
        max-width: 350px;
        font-size: 1.1rem;
    }
}
