.modalContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    padding: 2rem;
    width: 80%;
    max-width: 800px;
    background-color: var(--pure-white);
    border-radius: 10px;
    text-align: center;
}

.modalButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
}

.modalBackButton {
    position: relative;
    padding: 1rem 2rem;
    width: 200px;
    font-size: 1.1rem;
    text-align: center;
    color: var(--pure-white);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--pure-white);
    color: var(--main-color);
}

.modalBackButton::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -130px;
    display: block;
    height: 200%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgba(26, 40, 238, 0.5), rgba(10, 31, 223, 0.2));

    transform: rotate(20deg);
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;
}

.modalButtons button:hover::before {
    left: 130%;
    opacity: 1;
}

.modalButtons button.disabled {
    background-color: var(--lighter-grey);
    color: var(--pure-white);
    border: var(--pure-white);
    cursor: default;
}

@media (550px < width) {
    .modalButtons {
        margin-top: 3rem;
        gap: 50px;
    }
}

@media (1100px < width) {
    .modal {
        padding: 3rem 2rem;
    }

    .modalButtons {
        margin-top: 3rem;
    }
}
