.modalContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 1rem;
    max-width: 700px;
    background-color: var(--pure-white);
    border-radius: 10px;
    text-align: center;
    overflow-y: auto;
}

.modalBackButton {
    position: relative;
    margin: 2rem 0;
    padding: 1rem 2rem;
    width: 200px;
    font-size: 1.1rem;
    text-align: center;
    color: var(--pure-white);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--pure-white);
    color: var(--main-color);
}

.modalBackButton::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -130px;
    display: block;
    height: 200%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgba(26, 40, 238, 0.5), rgba(10, 31, 223, 0.2));
    transform: rotate(20deg);
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;
}

.modalBackButton:hover::before {
    left: 130%;
    opacity: 1;
}

.modalBackButton:disabled {
    background-color: var(--lighter-grey);
    cursor: default;
    border: 1px solid var(--lighter-grey);
    color: var(--pure-white);
}

.modalBackButton:disabled:hover::before {
    left: -130px;
    opacity: 0;
}
