.presentationItem {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2rem;
}

.presentationItemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 2rem;
    background-color: var(--dirty-white);
    border-radius: 10px;
    line-height: 1.4rem;
    width: 100%;
}

.presentationItemText h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--dark-grey);
}

.presentationItem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (1000px < width) {
    .presentationItem {
        flex-direction: row;
    }

    .presentationItem:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .presentationItem:nth-child(2n) .presentationItemText {
        text-align: left;
    }

    .presentationItem:nth-child(2n + 1) .presentationItemText {
        text-align: right;
    }

    .presentationItemText h3 {
        font-size: 1.4rem;
    }

    .presentationItem img {
        width: 30%;
    }
}
