.navList {
    display: flex;
    flex-direction: column;
}

.navListLink {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--light-grey);
}

.navListLink:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
}

.navListLink img {
    height: 25px;
    width: 25px;
}

.navListLink span {
    font-size: 1.05rem;
}
