.helpSection {
    margin: 0 auto;
    padding: 2rem 2rem 1rem;
    width: 100%;
    max-width: 1100px;
}

.helpSection h1 {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
}

.helpSection h2 {
    color: var(--light-grey);
    font-weight: 500;
}

@media (768px < width) {
    .helpSection {
        padding: 4rem 2rem 1rem;
    }

    .helpSection h1 {
        margin-bottom: 0.6rem;
        font-size: 2rem;
    }
}
