.helpQuestionError {
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: var(--danger-color);
}

.helpQuestionContainer h2 {
    margin: 2rem 0 1rem;
}

.questionItem {
    cursor: pointer;
}

.questionTitle {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    transition: color 0.3s;
    border-bottom: 1px solid var(--light-grey);
}

.questionTitle:hover {
    color: var(--main-color);
}

.questionTitle::after {
    content: '▼';
    font-size: 16px;
    transition: transform 0.3s ease;
    margin-left: 0.6rem;
}

.questionItem.open .questionTitle::after {
    transform: rotate(-180deg);
}

.answerText {
    font-size: 1rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        padding 0.3s ease;
    background-color: var(--dirty-white);
}

.questionItem.open .answerText {
    max-height: 200px;
    opacity: 1;
    padding: 2rem 1rem;
}
