.desktopNav {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: var(--dirty-white);
    color: var(--pure-black);
}

@media (768px < width) {
    .desktopNav {
        display: flex;
    }
}
