.priceBox .defaultPrice {
    text-decoration: line-through;
}

.priceBox .promotionPrice {
    font-size: 1.2rem;
    color: var(--danger-color);
}

.priceBox.big .defaultPrice{
    font-size: 1.3rem;
}

.priceBox.big .curPrice{
    font-size: 1.6rem;
}

.priceBox.big .promotionPrice {
    font-size: 1.6rem;
}
